div{
    border: orangered solid 1px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 10px;
}

body{
    margin: 0;
    /* border: green solid 1px; */
    height: 100vh;
    box-sizing: border-box;
}

